- page_title _('Health Check')
- no_errors = @errors.blank?

%h1.page-title= page_title
.bs-callout.clearfix
  .float-left
    %p
  #{ s_('HealthCheck|Access token is') }
  %code#health-check-token= Gitlab::CurrentSettings.health_check_access_token
  .gl-mt-3
    = button_to _("Reset health check access token"), reset_health_check_token_admin_application_settings_path,
      method: :put, class: 'gl-button btn btn-default',
      data: { confirm: _('Are you sure you want to reset the health check token?') }
%p.light
  #{ _('Health information can be retrieved from the following endpoints. More information is available') }
  = link_to s_('More information is available|here'), help_page_path('user/admin_area/monitoring/health_check')
  %ul
    %li
      %code= readiness_url(token: Gitlab::CurrentSettings.health_check_access_token)
    %li
      %code= liveness_url(token: Gitlab::CurrentSettings.health_check_access_token)
    %li
      %code= metrics_url(token: Gitlab::CurrentSettings.health_check_access_token)
    = render_if_exists 'admin/health_check/health_check_url'
%hr
= render Pajamas::CardComponent.new do |c|
  = c.header do
    Current Status:
    - if no_errors
      = sprite_icon('check', css_class: 'cgreen')
      #{ s_('HealthCheck|Healthy') }
    - else
      = sprite_icon('warning-solid', css_class: 'cred')
      #{ s_('HealthCheck|Unhealthy') }
  = c.body do
    - if no_errors
      #{ s_('HealthCheck|No Health Problems Detected') }
    - else
      = @errors
