- breadcrumb_title _('Edit')
- add_to_breadcrumbs _('Milestones'), project_milestones_path(@project)
- page_title _('Edit'), @milestone.title, _('Milestones')

%h1.page-title
  = _('Edit Milestone')

%hr

= render 'form'
